.additional-blog {
  position: relative;
}

.card-full {
  background: #eee;
  @include padding-bottom(650, 872, '.card-full__element');
}

.card-mini {
  h3 {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 2px;
  }
  background: #333;
  @include padding-bottom(650, 872, '.card-mini__element');
}

.card-content-area {
  position: absolute;
  bottom: 50px;
  width: 90%;
  left: 5%;
  z-index: 5;
  color: white;
  h3 {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
  }
  .hr {
    max-width: 80px;
  }
}

.content-blurb {
  max-height: 85px;
  overflow: hidden;
}

.card-mini__element {
  .card-content-area {
    bottom: 30px;
    font-size: 14px;
  }
}

.featured-title {
  color: $themegreen;
  margin-bottom: 2em;
}
.card-mini__element, 
.card-full__element {
  position: relative;
  overflow: hidden;
  .bg-el {
    transition: all 300ms ease;
  }

  &:hover {
    h3 {
      color: $themegreen;
    }
    .bg-el {
      transform: scale(1.1);
    }
  }

}

.is-card {
  margin-bottom: 2em;
}

.blog-featured-strip {
  position: absolute;
  top: 0; right: 0;
  width: 35%;
  height: 100%;
  background-color: $themegreen;
  transform: skew(35deg);
  transform-origin: top right;
}

.added-blogs {
  @include clearfix();
  @media(min-width: $bp-md) {
    display: flex;
    flex-wrap: wrap;
  }
}

.blog-item {
  border: 1px solid #f2f2f2;
  margin-bottom: 2em;
  transition: box-shadow .3s ease;

  &:nth-child(3n) {
    margin-right: 0em;
    margin-bottom: 0em;
  }
  @media(min-width: $bp-md) {
    width: calc(30% - 2px);
    margin-right: (10% / 2);
  }
}

.blog-item__content {
  padding: 2em 1em;

  h3 {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 2px;
    font-size: 22px;
  }

  .hr {
    margin: 2em 0em 0em 0em;
  }
}

.content-height {
  height: 80px;
  overflow: hidden;
  margin-bottom: 25px;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; height: 100%;
    background-image: linear-gradient(rgba(white, 0), rgba(white, 1));
  }
}



img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 1em 1em}
a img.alignleft {float:left; margin:0 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}

article {
  max-width: 1000px;
  margin: auto;
  img {
    max-width: 100%;
    height: auto !important;
    min-height: auto !important;
    max-height: auto !important;
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

.shimmy-top {
  .inner {
    padding-top: 5em;
  }
}

#social-share-parent {
  padding: 0em;
  margin: 0;
}

.social-share {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  max-width: 500px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
}
.cta-parent-social {
  margin-top: 4em;
  text-align: center;
}

#share-on {
  font-weight: 700;
  font-size: 22px;
  color: $themegreen;
}
.social-share__el {
  ul {
    display: flex;
    list-style-type: none;
    li {
      margin-right: 30px;
      &:last-of-type {
        margin-right: 0px;
      }
    }
    a {
      text-decoration: none;
    }
  }
}

#category-name {
  color: white;
}

@media(min-width: $bp-md ){
  .is-card {
    margin-bottom: 0em;
  }
  .featured-grid {
    display: flex;
  }
  
  .main-blog {
    width: 65.9%;
    margin-right: 2.5%;
  }
  
  .additional-blog {
    width: 32%;
    position: relative;
  }

  .card-mini {
    &:first-of-type {
      margin-bottom: 1em;
    }
  }
  
  
}