.blurb-content-full {
  display: none;
}
.intro-deck {
  position: relative;
}
.two-col-about {
  max-width: 500px;
  margin: auto;

  @media(min-width: $bp-md) {
    display: flex;
    align-items: center;
    max-width: 1200px;
  } 
  &__inner {
    width: 100%;
    @media(min-width: $bp-md) {
      width: auto;
    }

    &:first-of-type {
      @media(min-width: $bp-md) {
        width: 30%;
        margin-right: 10%;
      }
    }
    &:last-of-type {
      @media(min-width: $bp-md) {
        width: 60%;
        margin-left: 0%;
      }
    }
  }
}

.about-image {
  margin: 0;
  @include padding-bottom(1, 1 , ".image-nest-about");
}
.image-nest-about {
  background: #eee;
  background-size: cover;
  background-position: center;
  &.bg-el:after {
    background: transparent;
  }
}

.intro-deck:nth-child(even) {
  .two-col-about {
    flex-direction: row-reverse;
    .slant-top {
      z-index: -1;
      left: 0;
    }
    &__inner {
      &:first-of-type {
        margin-right: 0em;
        @media(min-width: $bp-md) {
          width: 30%;
          margin-left: 10%;
        }
      }
      &:last-of-type {
        margin-right: 0%;
        @media(min-width: $bp-md) {
          width: 60%;
        }
      }
    }
  }
}

.intro-deck {
  padding: 3em 0em;
  @media(min-width: $bp-md) {
    padding: 5em 0em;
  }
} 

.about-blurb {
  margin-top: 2em;

  @media(min-width: $bp-md) {
    margin-top: 0em;
  }
}

.team--info {
  .blog-featured-strip {
    z-index: 999;
    width: 20%;
  }
  .slant-top {
    z-index: -1;
  }
}