.section-bg {
  background: #eee;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}
.is-over {
  position: relative;
  z-index: 4;
}
.overlay-dark {
  &:after {
    top: 0; left: 0;
    width: 100%; height: 100%; 
    background: rgba(black, 0.8);

  }
}

.is-green {
  color: $themegreen !important;
}

.four-column-icon-section {
  position: relative;
  z-index: 8;
  color: white;
  flex-wrap: wrap;

}

.icon-section-element {
  width: 100%;
  margin-bottom: 2em;
  margin-left: auto; 
  margin-right: auto;
  text-align: center;
  p:first-of-type {
    font-size: 30px;
    font-weight: 500;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70%;
    margin-top: 12px;
    margin-bottom: 0em;
  }
   &:nth-child(4) {
    margin-bottom: 0em;
  }

}

.four-icon {
  width: 60px;
  margin-top: 20px;
  margin: 20px auto 0 auto;
  height: 60px;
  border: 1px solid white;
  position: relative;
  border-radius: 100%;

  svg {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    g {
      stroke: $themegreen;
    }
  }
}

.icon-section-element__inner {
  h5, p {
    max-width: 450px;
    margin: auto;
  }
}

.view-all {
  position: relative;
  z-index: 5;
  text-align: center;
  margin-top: 4em;
}

.hr-large-btm {
  margin-bottom: 3em;
}


@media(min-width: $bp-md) {
  
  .four-column-icon-section {
    display: flex;
  }
  
  .icon-section-element {
    display: flex;
    text-align: left;
    width: 48%;
    margin-left: 0; 
    margin-right: 0;
    margin: 0;
    margin-bottom: 5em;
    &:nth-child(2n) {
      margin-left: 4%;
    }
    &__inner:nth-child(2) {
      margin-left: 25px;
    }
     &:nth-child(3) {
      margin-bottom: 0em;
    }
  }
  .icon-section-element__inner {
    h5, p {
      max-width: 450px;
      margin: 0;
    }
  }
  
}
