#how-it-works {
  background-color: #FAFAFA;
}

.four-column-icon-section.on-light {
  color: black;
  .four-icon {
    border: 1px solid black;
  }
  .icon-section-element__inner p {
    max-width: 600px;
  }
}

.spacing-btn {
  padding-bottom: 2em;
}