nav {
  background: #fff;
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 11;
  font-size: 16px;
  transition: transform 300ms ease;
  box-shadow: 0px 10px 30px rgba(black, 0.04);
  max-width: 1920px;
  left: 50%;
  transform: translateX(-50%);
  content: '';
}


nav .inner {
  @include clearfix();
  padding: 1em 0em;
  position: relative;

  a {
    color: #000;
    font-weight: 500;
    text-decoration: none;
  }
}

.nav-section {
  position: relative;

  @media(min-width: 880px) {
    display: inline-block;
    
    &.has-nav-el {
      float: right;
    }
  }
}

#menu-main-nav {
  list-style-type: none;
  padding: 0;
  margin: 0.4em 0em 0.4em 0em;
  display: none;
  > li {
    padding-bottom: 0.5em;
    &:first-of-type {
      margin-left: 0em;
    }
    &:last-of-type {
      margin-bottom: 0em;
    }
    a {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        bottom: -3px;
        left: auto; right: 0;
        width: 0%;
        height: 2px;
        background: $themegreen;
        transition: all 200ms ease;
      }
      &:hover {
        &:after {
          width: 100%;
          left: 0; right: auto;
        }
      }
    }
    &.current_page_item {
      a:after {
        width: 100%;
      }
    }
  }

  @media(min-width: 880px) {
    margin: 0.8em 0em 0em 0em;
    display: block !important;
    > li {
      display: inline-block;
      position: relative;
      margin-left: 2.4em;
      margin-bottom: 0em;
      padding-bottom: 0em;
      &:first-of-type {
        margin-left: 0em;
      }
    }
  }
}

.sub-menu {
  background: white;
  list-style-type: none;
  margin: 0;
  padding-left: 0.7em;
  font-size: 14px;
  display: none;
  padding-top: 0.4em;
  > li {
    margin-bottom: 0.5em;
    &:last-of-type {
      margin-bottom: 0em;
    }
    a {
      position: relative;
      color: #666;
      transition: color 300ms ease;
      &:hover {
        color: black;
      }
    }
    @media(min-width: 880px) { 
      margin-bottom: 1em; 
      &:first-of-type {
        margin-top: 0.3em;
      }
      &:last-of-type {
        margin-bottom: 0em;
      }
      a {
        color: #000;
      }
    }
  }

  @media(min-width: 880px) {
    display: block !important;
    position: absolute;
    top: 100%;
    width: 480%;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%, 2%);
    box-shadow: 0px 0px 30px rgba(black, 0.1);
    padding: 2em 1.5em;
    visibility: hidden;
    transition: transform 400ms ease;

    &.is-visible {
      visibility: visible;
      transform: translate(-50%, 0%);
    }
  }
}

.drop-crt {
  position: relative;
  margin-left: 8px;
  top: -1px;
  svg {
    position: relative;
    transition: all 200ms ease;
  }
}

.show-dropdown {
  .drop-crt svg {
    transform: rotate(91deg);
  }
}

.logo {
  max-width: 120px;
  display: inline-block;
  padding-top: 2px;
  position: relative;
  img {
    width: 100%;
  }
  &:active {
    top: 2px;
  }
}

.sr-only {
  @include sr-only();
}
.mt-trigger {
  position: absolute;
  top: 50%; right: 0;
  transform: translateY(-50%);
  @include btn-reset();
  height: 34px;
  width: 45px;
  border-radius: 5px;
  background: #333;

  .mt-el {
    height: 2px; 
    width: 55%;
    left: 22.5%;
    background: white;
    position: absolute;
    transition: transform 300ms ease-out;
  }
  .mt-top {
    top: 8px;
  }
  .mt-mid {
    top: 15px;
  }
  .mt-btm {
    top: 23px;
  }
}

.mobile-showing {
  .mt-trigger {
    .mt-el {
      width: 50%;
      left: 25%;
    }
    .mt-top {
      transform: rotate(45deg);
      top: 15px;
    }
    .mt-mid {
      top: 15px;
      transform: rotate(-45deg);
      transition: 150ms ease;
    }
    .mt-btm {
      display: none;
      top: 18px;
    }
  }
}

@media(min-width: 880px) {
  nav {
    background: white;
  }
  nav > .inner {
    border-bottom: none;
  }
  
  .logo {
    padding-top: 0px;
    max-width: 180px;
  }

}


@media(min-width: 880px) {

  nav {
    font-size: 15px;
  }
  .mt-trigger {
    display: none;
  }
  .nav-section {
    display: inline-block;
    position: relative;
  }
  

}


@media(min-width: $bp-lg) {
  nav {
    font-size: 16px;
  }

}