.push-btm {
  margin-bottom: 1.5em;
}


.form-nest {
  align-items: center;
  justify-content: center;

  &__el:first-of-type {
    margin-right: 2em;
  }
  form {
    width: 100%;
    max-width: 300px;
    margin: auto;
  }
}


.form-sl_el {
  list-style-type: none;
  margin: 0; padding: 0;
  @include clearfix();
  max-width: 300px;
  text-align: center;
  margin: auto;
  margin-bottom: 2em;
  li {
    float: left;
    width: 25%;
    display: inline-block;
    &:last-of-type {
      margin-right: 0em;
    }
  }
}

.form-input {
  display: flex;
  input {
    height: 40px;
  }
  input[type="email"] {
    width: 80%;
    @media(min-width: $bp-sm ){
      width: 200px;
    }
    border: 1px solid #ddd;
    border-right: none;
    outline: none;
    border-radius: 0px;
    padding-left: 1em;
    font-size: 0.7em;
    font-weight: 500;

    &::placeholder {
      position: relative;
      display: inline-block;
      color: black;
    }
  }
  input[type="submit"] {
    @include btn-reset();
    background: $themegreen;
    min-width: 20%;
    height: 44px;
    padding: 0em 3em 0em 2em;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    font-weight: 700;
  }
}

@media(min-width: $bp-sm ) { 
  .form-nest {
    display: flex;

    &__el:first-of-type {
      margin-right: 2em;
    }
    form {
      width: 100%;
      max-width: 400px;
      margin: auto;
    }
  }
  .form-sl_el {
    max-width: auto;
    text-align: left;
    margin-bottom: 0em;
    display: inline-block;
    li {
      margin-right: 1em;
      width: auto;
      display: inline-block;
      margin-bottom: 0em;
      margin-top: 10px;
      &:last-of-type {
        margin-right: 0em;
      }
    }
  }
}