.push-btm {
  margin-bottom: 1.5em;
}

.form-nest {
  // display: flex;
  justify-content: center;

  @media(min-width: $bp-md) {
    display: flex;
  }
}

.form-sl_el {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;

  @media(min-width: $bp-md) {
    justify-content: flex-start;
  }
  
  li {
    margin-left: 20px;

    &:first-of-type {
      margin-left: 0px;
    }
  }
}


.form-nest__el {
  &:last-of-type {
    // margin-left: 30px;

    @media(min-width: $bp-md) {
      margin-left: 30px;
    }
    
  }
  #wpforms-form-770 {
    justify-content: center;

    @media(min-width: $bp-md) {
      justify-content: flex-start;
    }
  }
  #wpforms-770 {
    margin-bottom: 0em;
  }
  #wpforms-770-field_1 {
    height: 50px;
    max-width: 100%;
    padding: 0;
    box-shadow: none;
    outline: none;
    border-right: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding-left: 10px;
    -webkit-appearance: none;
    border-radius: 0px;
  }


  #wpforms-submit-770 {
    @include btn-reset();
    background: $themegreen;
    color: white;
    height: 50px;
    padding: 0px 20px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    font-size: 14px;
    border: none;
  }

}



.subscribe-blurb {
  display: block;
  text-align: center;
  color: #666;
  max-width: 700px;
  margin: auto;
  padding-top: 1em;
  font-style: italic;
}

#wpforms-form-770 {
  display: flex;
}