.spacing {
  &--sm {
    padding: 1em;
  }
  &--md {
    padding: 2em;
  }
}


@media(min-width: $bp-md) {
  .spacing {
    &--sm {
      padding: 1.1em;
    }
    &--md {
      padding: 2.2em;
    }
  }
}

